body {
    width: 100% !important;
    overflow-x: hidden;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background: #293744;
    overflow: hidden;
    position: absolute;
}

.top-text {
    color: white;
    font-size: 3em;
    font-weight: bold;
    width: 55%;
    border-radius: 25px;
    margin-top: 5%;
    background: rgba(0, 0, 0, 0.2);
}

.top-footer {
    display: none;
    color: white;
    font-size: 1.5em;
    background: rgba(255, 255, 255, 0.6);
    width: 30%;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
}

.sections {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/landscape.png");
    background-size: 100vw 100%;
    margin: 0;
    position: relative;
    z-index: 1000;
    border: none;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.section {
    position: absolute;
    padding-top: 2%;
    width: 100vw !important;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    right: 0;
    left: 0;
    margin: auto;
}

.logo {
    width: 20vw;
    height: auto;
    cursor: pointer;
}

.top-logo {
    position: absolute;
    top: 0;
    background: rgba(255, 255, 255, 0.4);
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
    width: 30vw;
}

.vids {
    padding-top: 30px;
    /* position: absolute; */
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/background2.png");
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    border: none;
    /* height: 100%; */
    /* z-index: 1000; */
    /* overflow-y: visible; */
    /* display: none; */
}

.vids h1 {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    width: 40%;
    text-align: center;
}

.vids-title {
    font-size: 4em;
    font-weight: bold;
    background: none;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 5%;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.8) !important;
}

.vids-title img {
    width: 80%;
    height: auto;
}

.netflix-carousel {
    /* padding: 0 143px; */
    margin-top: 10px;
    /* padding-top: 50px; */
}

.netflix-carousel .swiper-container {
    padding: 20px 20px;
    padding-bottom: 40px;
}

.swiper-container {
    display: grid;
    /* justify-content: center; */
    width: 100vw !important;
    /* padding-left: 10vw; */
}

.netflix-carousel img {
    width: 100%;
    transition: transform .3s;
    transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
}

.swiper-slide {
    transition: transform .3s;
    transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
    transform-origin: left;
}

.swiper-slide.item-prev {
    transform: translateX(-120px);
}

.swiper-slide.item-next {
    transform: translateX(120px);
}

.swiper-slide.item-active img,
.swiper-slide.item-active a {
    transform: scale(1.5);
}

.vid-img {
    /* width: 15vw !important;
    height: 15vh; */
    height: 15vh;
}

.link-img,
.link-slide,
.vid-img {
    /* width: 18vw !important; */
    height: 18vh;
}

.swiper-slide {
    position: relative !important;
    display: inline-block !important;
    /* cursor: pointer !important; */
}

.vid-slide:before {
    z-index: 1001;
    position: absolute !important;
    top: 20%;
    left: 35%;
    font-family: "Font Awesome 5 Free" !important;
    font-weight: 900px !important;
    content: "\f144" !important;
    font-size: 80px !important;
    color: #fff !important;
    opacity: .8 !important;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5) !important;
    pointer-events: none;
}

.vid-slide:hover:before {
    color: #eee !important;
    /* top: 30%; */
}

.swiper-slide:hover .overlay-text,
.swiper-slide:hover .overlay-title {
    opacity: 1;
    transition-delay: 0.15s;
}

.swiper-slide:hover img {
    filter: brightness(70%);
    /* pointer-events: none; */
}

.overlay-text {
    position: absolute;
    opacity: 0;
    bottom: 1;
    left: 1;
    right: 1;
    z-index: 2001;
}

.overlay-title {
    position: absolute;
    opacity: 0;
    text-align: center;
    top: -10%;
    bottom: 0;
    left: -20%;
    right: -20%;
    color: white;
    z-index: 2001;
    pointer-events: none;
}

.link-title {
    text-align: center;
    position: absolute;
    opacity: 1;
    top: 0;
    left: 0;
    right: 0;
    color: white;
}

.carousel-two {
    padding-bottom: 25px;
}

.link-img {
    filter: brightness(80%);
}

.swiper-wrapper {
    position: relative;
}

.swiper-button-prev,
.swiper-button-next {
    top: 150px;
}

#light {
    display: none;
}

h1 {
    font-weight: bold;
}

a {
    position: relative;
    z-index: 1000
}

#fade {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
}

#light {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 800px;
    max-height: 560px;
    margin-left: -400px;
    margin-top: -280px;
    border: 2px solid #FFF;
    background: #FFF;
    z-index: 1002;
    /* overflow: visible; */
}

#boxclose {
    float: right;
    cursor: pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 3px;
    background: #222222;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;
    position: absolute;
    right: 2px;
    top: 2px;
    z-index: 1002;
    opacity: 0.9;
}

.boxclose:before {
    content: "×";
}

#fade:hover~#boxclose {
    display: none;
}

.prompt,
.scroll-prompt {
    color: white;
}

#scrollContainer2 {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.sections2 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size: 100vw 100vh;
}

.section2 {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-left: 15vw;
    padding-right: 15vw; */
    text-align: center;
    color: white;
    font-size: 2.5rem;
}

.section {
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.section2 {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
    padding-left: 15vw;
    padding-right: 15vw;
    height: 60%;
    justify-self: center;
    grid-gap: 20px;
}

.section2.one>*,
.section2.two>*,
.section2.three>* {
    /* background: rgba(0, 0, 0, 0.2); */
    border-radius: 35px;
    opacity: 0;
    text-shadow: 0px 2px 3px #555;
    font-weight: bold;
}

.section2>.two-four,
.section2>.three-five {
    background: none;
}

.sections2.one {
    /* grid-template-columns: 1fr 2fr 1fr !important; */
    grid-template-rows: repeat(5, 1fr);
    padding: 0
}

.one-one,
.one-seven {
    grid-column: 1/4;
    font-size: 1.2em !important;
}

.one-two,
.one-three,
.one-four {
    grid-column: 1;
    justify-self: start;
}

.one-five,
.one-six {
    grid-column: 3;
    justify-self: start;
}

.one-four {
    grid-row: 4;
}

.one-five {
    grid-row: 4;
}

.one-six {
    grid-row: 3;
}

.one-eight {
    grid-column: 2;
    grid-row: 3/6;
}

.one-eight img {
    width: 70%;
    border-radius: 10px;
    /* padding-right: 10%; */
    justify-self: start !important;
    /* margin-left: -35%; */
}

.section2.one>* {
    font-size: 0.8em;
    padding: 1vh 0;
}

.section2.two {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(6, 1fr);
}

.two-one {
    grid-column: 1/4;
    font-size: 1.2em;
}

.two-two,
.two-three,
.two-four {
    grid-column: 1;
    font-size: 1em;
    justify-self: start;
}

.two-four {
    grid-column: 1/3;
    justify-self: flex-start
}

.two-five,
.two-six,
.two-seven {
    grid-column: 1/4;
    font-size: 0.7em;
}

.two-eight {
    padding-top: 50px;
    padding-left: 5%;
    grid-column: 2/6;
    grid-row: 2/4;
    display: flex;
    align-items: center;
    justify-items: center;
}

.two-eight img {
    width: 50% !important;
    justify-self: center;
    filter: blur(1px);
    border-radius: 10px;
    box-shadow: 0px 2px 3px #555;
}

.section2.three {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    /* background: url(../img/background.jpg); */
    height: 100%;
    width: 100%;
    opacity: 0;
    padding: 20vh 15vw;
}

.three-one,
.three-two {
    grid-column: 1/4;
}

.three-one {
    font-weight: bold;
    font-size: 1.2em;
}

.three-three,
.three-four,
.three-five {
    grid-column: 1;
    justify-self: end;
    align-items: start;
    font-size: 0.8em;
}

.three-six,
.three-seven {
    grid-column: 3;
    justify-self: start;
    text-align: left;
    align-content: start;
    font-size: 0.8em;
}

.three-nine {
    grid-column: 3;
    grid-row: 4;
    justify-self: start;
    align-items: start;
    font-size: 0.8em;
    text-align: left;
}

.three-six {
    grid-row: 3
}

.three-eight {
    grid-column: 2;
    grid-row: 3/6;
    z-index: 5001;
}

iframe {
    border-radius: 25px;
    z-index: 5001;
}

.scroll-prompt {
    display: none;
}

.btn-outline-primary {
    color: white;
    border: 5px solid white;
    border-radius: 25px;
    width: auto;
    height: 15vh;
    font-weight: bold;
    font-size: 2.5em;
    background: rgba(0, 0, 0, 0.2);
}

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none;
}

.btn-outline-primary:hover {
    background: white;
    border-color: white;
    color: rgba(0, 0, 0, 0.8);
}

.buttons {
    /* padding-top: 50vh; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5%;
    opacity: 0;
    justify-items: center;
    position: absolute;
    bottom: 10vh;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2001;
}

.btn1 {
    justify-self: end;
}

.btn2 {
    justify-self: start;
}

.contact {
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/background2.png");
    background-repeat: repeat;
    display: none;
    height: 100vh;
    color: white;
    /* padding-top: 5vh; */
    display: grid;
    grid-template-columns: 3fr 0.5fr 2.5fr;
    grid-template-rows: 2fr repeat(3, 1fr);
    /* padding-bottom: 20vh; */
    grid-gap: 30px;
    align-items: end;
    padding-right: 2vw;
    justify-items: start;
    padding-bottom: 10vh;
    padding-top: 20vh;
}

.mb-4 {
    grid-column: 1/4;
    grid-row: 1;
    /* width: 100%; */
    align-self: end;
    text-align: center;
    justify-self: center;
}

.slogan {
    color: white;
    font-size: 3em;
    margin: 0vh 15vh 15vh 15vh;
    /* background: rgba(0, 0, 0, 0.1); */
    border-radius: 45px;
    /* color: #222; */
    text-shadow: 0px 2px 3px #555;
}

.slogan>* {
    opacity: 0;
}

.fa-arrow-circle-up {
    position: absolute;
    top: 105vh;
    right: 2vw;
    font-size: 300%;
    cursor: pointer;
    z-index: 2001;
}

.contact-arrow {
    top: 236vh;
}

.contact-img {
    grid-row: 2/5;
    align-self: center;
}

.contact-img img {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 100%;
}

.call-to-action {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2000;
    font-size: 1.2em;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.2);
    background-size: 2vw;
    color: white;
    padding: 1vh 1vw;
    border-bottom-left-radius: 25px;
    cursor: pointer;
}

.fa-envelope,
.fa-comment-dots,
.fa-briefcase {
    font-size: 100px;
}

.contact-form {
    grid-column: 2;
    grid-row: 2;
    text-align: center;
    align-self: start;
    cursor: pointer;
    padding: 20px;
    background: rgba(255, 255, 255, 0.2);
    justify-self: center;
}

.sales-form {
    grid-column: 2;
    grid-row: 3;
    text-align: center;
    align-self: start;
    cursor: pointer;
    padding: 20px;
    justify-self: center;
}

.demo-form {
    grid-column: 2;
    grid-row: 4;
    text-align: center;
    align-self: start;
    cursor: pointer;
    padding: 20px;
    justify-self: center;
}

form {
    grid-column: 3;
    grid-row: 2/5;
    align-self: center;
    justify-self: center;
}

.success {
    display: none;
    grid-column: 3;
    grid-row: 3;
    align-self: center;
    justify-self: center;
    text-align: center;
    color: white;
    font-size: x-large;
    font-weight: bold;
}

.form-request {
    visibility: hidden;
}

.form-support {
    visibility: inherit;
}

.form-sales {
    visibility: hidden;
}

#error-message {
    color: red;
    display: none;
}

#success-message {
    display: none;
}

.tardis {
    position: absolute;
    bottom: 0;
    right: -10%;
    width: 50%;
    overflow: hidden;
}

.tardis-long {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    visibility: hidden;
    pointer-events: none;
}

.carousel-middle .swiper-wrapper {
    /* padding-left: 150px; */
    display: flex;
    justify-content: center;
}

.livestream-main,
.livestream-main .mistvideo-video,
.livestream-main .mistvideo-placeholder {
    width: 40vw;
    height: 100%;
}

.boom-slide {
    max-width: 90vw;
}

@media only screen and (max-width: 1919px) {
    .tardis-long {
        bottom: -30%;
    }
}

@media only screen and (max-width: 1200px) {
    .vid-img {
        width: 25vw !important;
        filter: brightness(70%);
        height: 20vh;
    }
    .link-img {
        height: 20vh;
    }
    .link-slide {
        height: 22vh;
    }
    .vids h1 {
        width: 70%;
    }
    .netflix-carousel {
        padding-bottom: 0;
    }
    .vid-slide:before {
        top: 20%;
    }
    .overlay-title {
        font-size: 1.5em;
        font-weight: bold;
        opacity: 1;
        top: 0;
        left: 0;
        right: 0;
    }
    /* #light {
        top: 85%;
        left: 70%;
        max-height: 70%;
        max-width: 80%;
    } */
}

@media only screen and (max-width: 823px) {
    body {
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .logo {
        width: 50vw;
        height: auto;
    }
    .top-logo {
        width: 50vw;
    }
    .top-footer {
        width: 50vw;
    }
    .vids {
        margin-top: 20vh;
    }
    .vids h1 {
        width: 50vw;
    }
    .slogan {
        font-size: 2em;
        margin-bottom: 0;
    }
    .sections {
        height: 100vh !important;
    }
    .buttons {
        font-size: 0.7em;
        bottom: 5vh;
    }
    .buttons>* {
        border-radius: 15px;
    }
    .section2 {
        justify-content: center;
        font-size: 2.5em;
        /* margin-left: 10vw;
        margin-right: 10vw; */
        top: 5%;
        height: 40%;
        padding: 0;
    }
    .section2 .three {
        padding: 0 20vw;
    }
    .vid-img {
        width: 35vw !important;
        filter: brightness(70%);
    }
    .link-slide {
        height: 22vh;
    }
    .vid-slide:before {
        top: 20%;
    }
    .overlay-title {
        font-size: 1.5em;
        font-weight: bold;
        opacity: 1;
        top: 0;
    }
    #light {
        top: 50%;
        left: 0;
        right: 0;
        margin: auto;
        max-width: 800px;
        max-height: 560px;
        /* margin-left: 400px;*/
        margin-top: -25vh;
        /* overflow: visible; */
    }
    .contact-img {
        display: none;
    }
    .section.contact {
        grid-template-columns: 1fr 1fr !important;
        grid-template-rows: 1fr 1fr;
        height: 100vh !important;
        /* width: 100vw; */
        align-items: start;
        /* padding: 0 10vw; */
        /* justify-content: center; */
    }
    .mb-4 {
        grid-column: 1/4;
        grid-row: 1;
        text-align: center;
        justify-self: center;
    }
    .contact-form {
        grid-column: 1;
        grid-row: 2;
        width: 40vw;
        justify-self: center;
    }
    .contact-info {
        grid-column: 1;
        width: 40vw;
    }
    .demo-form {
        grid-column: 2;
        grid-row: 2;
        justify-self: center;
        width: 40vw;
    }
    .sales-form {
        grid-column: 2;
        grid-row: 2;
        justify-self: center;
        width: 40vw;
    }
    form {
        grid-column: 2;
        grid-row: 2;
        width: 50vw;
    }
    .fa-arrow-circle-up {
        display: none;
    }
    .section2 {
        height: 70%;
        width: 100% !important;
    }
    .section2.one {
        grid-gap: 0;
        padding: 0;
        margin: auto;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
    }
    .section2 .one>* {
        padding: 0;
    }
    h3 {
        font-size: 0.8em;
    }
    .one-one,
    .one-seven {
        font-size: 1em !important;
    }
    .one-eight {
        display: none;
        text-align: right;
    }
    .one-three {
        grid-column: 2
    }
    .section2.two {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 1.5fr 2fr !important;
        grid-gap: 0 !important;
        font-size: 2.5em !important;
        height: 65%;
        top: -3%;
        text-align: left;
    }
    .two-one {
        grid-column: 1/3;
        font-size: 1em;
        grid-row: 1;
    }
    .two-four {
        grid-row: 4;
        font-size: 0.9em;
    }
    .two-three,
    .two-two {
        font-size: 0.9em;
    }
    .two-eight {
        display: none;
    }
    .two-five,
    .two-six,
    .two-seven {
        font-size: 0.6em;
    }
    .two-five {
        grid-column: 2/3;
        grid-row: 2;
        justify-self: start;
    }
    .two-six {
        grid-column: 2/3;
        grid-row: 3;
        justify-self: start;
    }
    .two-seven {
        grid-column: 2/3;
        grid-row: 4;
        justify-self: start;
        text-align: left;
    }
    iframe {
        width: 100%;
        height: auto;
    }
    .section2.three {
        padding: 0;
        height: 70%;
        font-size: 2em;
        grid-gap: 0
    }
    .section2.three>* {
        justify-self: center !important;
        text-align: center;
    }
    .tardis {
        width: 50%;
        right: -10%;
    }
    .contact {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 2fr 1fr 1fr 1fr;
        height: 100vh !important;
        width: 100vw !important;
        align-items: center;
        justify-content: center;
        grid-gap: 0;
        padding: 0;
        grid-gap: 30px;
    }
    .mb-4 {
        grid-column: 1/4;
        grid-row: 1;
    }
    .contact-form {
        grid-column: 1;
        grid-row: 2;
    }
    .demo-form {
        grid-column: 1;
        grid-row: 3;
    }
    .sales-form {
        grid-column: 1;
        grid-row: 4;
    }
    form {
        grid-column: 2;
        grid-row: 2/5;
    }
    .tardis {
        display: none;
    }
    .tardis-long {
        width: 100%;
        bottom: 10%;
    }
    .section {
        overflow-y: scroll;
    }
    .carousel-middle {
        margin-left: 0;
    }
    .carousel-middle .swiper-container {
        padding-left: 20px;
    }
    .livestream-main {
        width: 35vw;
        height: 40vh;
    }
    .boom-slide:before {
        top: 10%;
        left: 32%;
    }
}

@media only screen and (max-width: 500px) {
    body {
        overflow-y: scroll;
    }
    .vids {
        margin-top: 30px;
    }
    .vids h1 {
        font-size: 1.5em;
        width: 80%;
    }
    .section2 {
        font-size: 2em;
        width: 100%;
        /* height: 40%; */
        top: 0;
        align-content: center;
    }
    .section2.one {
        grid-template-columns: 1fr;
    }
    .section.one {
        width: 100vw;
    }
    .three-five {
        display: none;
    }
    .one-four {
        grid-column: 1;
        grid-row: 4;
    }
    .slogan {
        font-size: 1.8em;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 20vh;
    }
    .buttons {
        /* grid-template-columns: 1fr;
        grid-template: 1fr 1fr; */
        grid-gap: 5vw;
        /* margin-top: 10vh; */
        bottom: 15vh;
        font-size: 1em;
    }
    .top-logo {
        width: 100%;
    }
    .buttons>* {
        /* width: 50%; */
        font-size: 1.6em;
    }
    .top-footer {
        width: 100vw;
    }
    .contact {
        font-size: 1em;
    }
    .fa-arrow-circle-up {
        display: none;
    }
    #light {
        top: 50%;
        left: 0;
        right: 0;
        margin: auto;
        max-width: 800px;
        max-height: 560px;
        /* margin-left: 400px;*/
        margin-top: -20vh;
        /* overflow: visible; */
    }
    .section2.one {
        grid-gap: 0;
        font-size: 1.5em;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
    }
    .one-one,
    .one-seven {
        font-size: 1.3em !important;
    }
    .one-eight {
        display: block;
        grid-row: 4;
        width: 100% !important;
    }
    .one-eight img {
        margin-left: 0;
        width: 100%;
    }
    .section2.two {
        grid-template-rows: repeat(6, 1fr);
        font-size: 2em !important;
        grid-row-gap: 20px !important;
    }
    .two-eight {
        display: block;
        grid-column: 2;
        grid-row: 2/4;
        padding-right: 20px;
    }
    .two-eight img {
        height: 15vh !important;
        width: 50vw !important;
    }
    .two-five {
        grid-row: 5;
        grid-column: 1/3;
        text-align: left;
    }
    .two-six {
        grid-row: 6;
        grid-column: 1/3;
    }
    .two-seven {
        grid-row: 7;
        grid-column: 1/3;
    }
    .section2.three {
        font-size: 1.3em !important;
        grid-template-rows: repeat(6, 1fr) !important;
        grid-template-columns: 1fr 1fr !important;
        grid-gap: 10px
    }
    .three-one {
        grid-row: 1;
        grid-column: 1/3;
        font-size: 1.5em;
    }
    .three-two {
        grid-row: 2;
        grid-column: 1/3;
        font-size: 1.3em;
    }
    .three-three {
        grid-column: 1;
        grid-row: 4;
    }
    .three-four {
        grid-column: 2;
        grid-row: 4;
    }
    .three-five {
        grid-column: 1;
        grid-row: 5;
        display: block;
    }
    .three-six {
        grid-column: 2;
        grid-row: 6;
    }
    .three-seven {
        grid-column: 1;
        grid-row: 6;
    }
    .three-eight {
        grid-row: 3;
        grid-column: 1/3;
    }
    .three-nine {
        grid-row: 5;
        grid-column: 2;
    }
    .contact {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 2fr 1fr 1fr 1fr;
        height: 100vh !important;
        width: 100vw !important;
        align-items: center;
        justify-content: center;
        grid-gap: 0;
        padding: 0;
        grid-gap: 30px;
    }
    .mb-4 {
        grid-column: 1/4;
        grid-row: 1;
        padding-left: 20px;
        padding-right: 20px;
    }
    .contact-form {
        grid-column: 1;
        grid-row: 2;
    }
    .demo-form {
        grid-column: 1;
        grid-row: 3;
    }
    .sales-form {
        grid-column: 1;
        grid-row: 4;
    }
    form {
        grid-column: 2;
        grid-row: 2/5;
    }
    .tardis {
        width: 120%;
        right: 0;
        bottom: 0;
        display: none;
    }
    .tardis-long {
        width: 120%;
        left: -12%;
        bottom: 10%;
    }
    .section {
        overflow-y: scroll;
    }
    .livestream-main {
        width: 80vw !important;
        height: 100% !important;
    }
}

@media only screen and (max-width: 480px) {
    .vid-img {
        width: 60vw !important
    }
    .overlay-title {
        font-size: 1.3em;
        left: 0;
        right: 0;
    }
    .link-title {
        font-size: 1.3em;
    }
}

@media only screen and (max-height: 420px) {
    .logo {
        width: 25vw;
        height: auto;
    }
    .sections {
        padding-top: 30px;
        height: 75vh;
        font-size: 0.7em;
    }
    .vids h1 {
        font-size: 1.5em;
    }
    .vid-img,
    .link-img {
        height: 40vh;
        width: 38vw !important;
    }
    .overlay-title {
        left: 0;
        right: 0;
    }
}

@media only screen and (max-width: 400px) {
    .section2.two {
        font-size: 1.8em !important;
        /* top: 10%; */
    }
}

@media only screen and (min-width: 767px) and (orientation: portrait) {
    .slogan {
        font-size: 3em !important;
        margin: 0;
    }
    .section2.one {
        grid-template-columns: repeat(3, 1fr);
    }
    .one-three {
        grid-column: 1/3;
    }
    .one-eight {
        display: block;
        width: 100%;
    }
    .section2.two {
        grid-template-rows: repeat(6, 1fr);
        font-size: 2.5em !important;
        grid-row-gap: 20px !important;
        padding-left: 50px;
    }
    .two-eight {
        display: block;
        grid-column: 2;
        grid-row: 2/4;
        padding-right: 20px;
    }
    .two-eight img {
        height: 15vh !important;
        width: 50vw !important;
    }
    .two-five {
        grid-row: 5;
        grid-column: 1/3;
        text-align: left;
    }
    .two-six {
        grid-row: 6;
        grid-column: 1/3;
    }
    .two-seven {
        grid-row: 7;
        grid-column: 1/3;
    }
    .section2.three {
        grid-template-rows: 3fr 1fr repeat(3, 3fr);
        font-size: 2em;
    }
    .top-logo {
        width: 65%;
    }
    .top-footer {
        width: 65%;
    }
    .tardis {
        width: 75%;
        right: 0;
    }
    .livestream-main {
        width: 50vw !important;
        height: 100% !important;
    }
    .boom-slide:before {
        top: 20%;
        left: 35%;
    }
}

@media only screen and (min-width: 900px) and (max-width: 1280px) {
    .slogan {
        margin: 0;
        font-size: 2.5em;
    }
    .section2 {
        margin-left: 0;
        margin-right: 0;
        font-size: 2em;
    }
    .section2.one {
        grid-template-columns: 1fr 2fr 1fr;
        padding: 0;
        justify-items: center !important;
    }
    .one-eight {
        width: 90%;
    }
    .one-five,
    .one-six {
        justify-self: start;
        text-align: left;
    }
    .contact {
        grid-template-rows: 1fr 1fr;
    }
    .mb-4 {
        grid-column: 1/4;
        justify-self: center;
        text-align: center;
    }
    .contact-img {
        grid-row: 2/5;
        align-self: start;
    }
    .call-to-action {
        align-self: end;
    }
    .logo {
        width: 70%;
    }
    .top-logo {
        width: 40%;
    }
    .tardis-long {
        top: auto;
        bottom: 0;
    }
    .section2.zero {
        height: 100%;
        justify-self: end;
    }
    .boom-slide:before {
        top: 10%;
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1440px) {
    .slogan {
        font-size: 2.5em;
    }
    .call-to-action {
        font-size: 1.1em;
    }
    .btn-outline-primary {
        font-size: 2em;
    }
}

@media only screen and (min-width: 1280px) {
    .boom-slide img,
    .three-eight {
        width: 25vw;
        height: 30vh;
    }
    .boom-slide:before {
        top: 25%;
        left: 40%;
    }
}